#section1{
    background-color: rgb(238, 0, 90);
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}
.section{
    text-align: center;
    color: white;
}

body {
    font-family: inherit;
    font-size: 15px;
}

.btn-success {
   text-decoration: none;
    padding: 2px 10px;
    font-family: inherit;
    font-size: 15px;
    color: #4CAF50;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #4CAF50; /* Green */
}
.btn-success:hover {background-color: #3e8e41}

.btn-success:active {
  background-color: #7FFFD4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
